
<style>
        body {
            background-color:#003567 ;
        }

        h3 {
        color: yellow;
}
        h6 {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: white;
}
img {
    width: 100%;
    height: auto;
}

.pbi{
    font-weight: bold;
    font-size: 27px;
}
</style>  

<div class="jumbotron text-center" style="background-color: yellow ; color: #003567; margin-top: 116px;">                                                                                                                                                                                                                                                                                       
    <p class="pbi"><b><i>2 Amazonians & The Dudes Presents</i></b></p>
     <h1><strong>Homemade SummerCamp</strong></h1>
    <p class="pbi"><b>Relieving Parents and Entertainig Kids Globally</b></p> 
</div>