
<style>
        body {
            background-color:#003567 ;
        }

        h3 {
        color: yellow;
}
        h6 {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: white;
}
.pbi{
    font-weight: bold;
    font-size: 36px;
    color: #fcec6a
}

.content{
     background-image: url("/img/camping.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title{
    font-size: 93px;
    color: blue
}
</style>  

<div class="jumbotron text-center content" style="margin-top: 116px;">                                                                                                                                                                                                                                                                                       
    <p class="pbi"><b><i>2 Amazonians & The Dudes Presents</i></b></p>
     <h1><strong class="title">Homemade SummerCamp</strong></h1>
    <p class="pbi"><b>Relieving Parents and Entertainig Kids Globally</b></p> 
</div>
