doctype
html

head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    title Bootstrap Example
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
body
    .container
        .jumbotron
            h1  A Summer Camp to end all Summer Camps
            input(name= 'User Name', type= 'text', id = 'username', placeholder= 'Username here')
            input(name= 'Password', type= 'password', id = 'pword', placeholder= 'Your Password here')
            .radiogp1
            input(type='radio')
            | Teacher
            input(type='radio')
            | Student


    script(src='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')
    script(src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
    script(src='http://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')
    script.
        $(document).ready(function () {
            $('#pickle').DataTable();
        });
